{% extends "base.html" %}
{% load static %}

{% block titulo %}Políticas{% endblock %}

{% block contenido %}
<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }
    .containerc {
        padding: 20px;
    }
    .policy-container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
    h1, h2 {
        color: blueviolet;
    }
    h3 {
        color: #343a40;
    }
</style>

<div class="container mt-5 mb-4">
    <div class="containerc">
        <div class="policy-container">
            <h1>Políticas</h1>
            <p>Somos una empresa de tecnología argentina, especializada en brindar cursos y formaciones académicas de distintas propuestas educativas, focalizadas en el futuro profesional.</p>
            
            <h2>Objetivos</h2>
            <p>EducApp está constituida por profesionales altamente capacitados en el ámbito de los cursos que ofrece, todos ellos dispuestos y preparados para ofrecer soluciones de calidad para sus alumnos utilizando los recursos tecnológicos de última generación que posibilitan mejorar sus ingresos y hacer más eficiente su enseñanza, permitiendo a nuestros alumnos posicionarse de mejor forma en un mercado competitivo.</p>
            
            <h2>Metas</h2>
            <p>Entre los cursos que ofrecemos contamos con Marketing Digital, Fotografía, Oratoria y Python Básico.</p>
        </div>
    </div>
</div>

{% endblock %}








